.AnalysePage {
  display: flex;
  flex-direction: column;
}

.TapTempo__Row:active {
  background-color: black;
  color: white;
}

.TapTempo__Row p::selection {
  background: none;
}

.TapTempo__NoBPM {
  opacity: 0.4;
}
