.navigation {
  display: flex;
  flex-direction: column;
}

.navigation__item {
  padding: 0 1rem;
  height: 42px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

.navigation__item:hover {
  padding: 0 1.5rem;
}

.navigation__item:last-child {
  border-bottom: none;
}
