.PDP__DeleteButton {
  color: var(--color-alert-01);
}

.PDP__PlaylistName {
  z-index: 2000;
  height: 63px;
  position: fixed;
  top: 0;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  transform: translateY(0);
  font-size: 1.2rem;
}

.PDP__PlaylistName--edit {
  z-index: 2000;
  height: 63px;
  position: fixed;
  top: 0;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  opacity: 0.6;
  width: 320px;
  font-size: 1.2rem;
  font-weight: 700;
  transform: translateY(0);
}

.PDP__PlaylistName--edit.--hidden,
.PDP__PlaylistName.--hidden {
  transform: translateY(-110%);
}

.PDP__PlaylistName--edit:focus {
  opacity: 1;
  color: black;
}

.PDP__PlaylistDescriptionChangeInput {
  opacity: 0.6;
  color: var(--color-accent-01);
}

.PDP__PlaylistDescriptionChangeInput:focus {
  opacity: 1;
}
