.AddTrackOnTheFlyItem {
  padding: 0.5rem 1rem;
  min-height: 84px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.AddTrackOnTheFlyItem:last-child {
  border-bottom: none;
}

.AddTrackOnTheFlyItem ul li {
  all: unset;
  display: flex;
  font-size: 0.8rem;
  line-height: 0.9rem;
}

.AddTrackOnTheFlyItem ul li:first-child {
  font-weight: 500;
  font-size: 0.9rem;
}

.AddTrackOnTheFlyItem__SelectionIconContainer {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.AddTrackOnTheFlyItem__SelectionIcon {
  height: 15px;
  fill: black;
}

@media only screen and (min-device-width: 700px) {
  .AddTrackOnTheFlyItem:nth-child(2n) {
    border-left: 1px solid black;
  }

  .AddTrackOnTheFlyItem:last-child {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }
}

@media only screen and (min-device-width: 1050px) {
  .AddTrackOnTheFlyItem {
    border-left: 1px solid black;
  }

  .AddTrackOnTheFlyItem:nth-child(3n + 1) {
    border-left: none;
  }
}
