.AddToPlaylistItem {
  gap: 2rem;
  display: flex;
  align-items: center;
}

.AddToPlaylistItem__SelectionIconContainer {
  display: flex;
  align-items: center;
}

.AddToPlaylistItem__SelectionIcon {
  margin-top: 5px;
  height: 15px;
  width: auto;
  fill: black;
}
