.CollectionPage__TempoFilterSection {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.CollectionFilterSection {
  border-bottom: 1px solid black;
}

.CollectionPage__Sort {
  display: flex;
  align-items: center;
  gap: 3px;
}

.CollectionPage__SortIcon {
  height: 12px;
  width: auto;
  transform: rotate(90deg);
  transition: 0.2s ease-in;
}

.CollectionPage__SortIcon.active {
  transform: rotate(270deg);
}

.CollectionPage__SortDropdown {
  position: absolute;
  background-color: var(--color-background);
  left: 1rem;
  right: 1rem;
  padding: 1rem;
  border-bottom: 1px solid black;
  text-transform: none;
  opacity: 0;
}

.CollectionPage__SortDropdown.active {
  opacity: 1;
}

.CollectionPage__SortDropdownList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.CollectionPage__SortDropdown ul li {
  all: unset;
  display: flex;
  align-items: center;
  gap: 3px;
}

.CollectionPage__SelectionIcon {
  height: 10px;
  width: auto;
}

.CollectionPage__TempoFilterSection input {
  width: 35px;
  text-align: right;
}
