.CollectionItem {
  padding: 0.5rem 1rem;
  min-height: 84px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CollectionItem:last-child {
  border-bottom: none;
}

.CollectionItem--left {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.CollectionItem ul li {
  all: unset;
  display: flex;
  font-size: 0.8rem;
  line-height: 0.9rem;
}

.CollectionItem ul li:first-child {
  font-weight: 500;
  font-size: 0.9rem;
}

.CollectionItem__AddIconContainer {
  height: 60px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.CollectionItem__AddIcon {
  flex-shrink: 0;
  fill: black;
}

@media only screen and (max-device-width: 450px) {
  .CollectionItem ul li {
    width: 220px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
