.CollectionFilterSection {
  border-bottom: 1px solid black;
}

.CollectionFilterSection__Sort {
  display: flex;
  align-items: center;
  gap: 3px;
}

.CollectionFilterSection__SortIcon {
  height: 12px;
  width: auto;
  transform: rotate(90deg);
  transition: 0.2s ease-in;
}

.CollectionFilterSection__SortIcon.active {
  transform: rotate(270deg);
}

.CollectionFilterSection__SortDropdown {
  position: absolute;
  background-color: var(--color-background);
  left: 1rem;
  right: 1rem;
  padding: 1rem;
  border-bottom: 1px solid black;
  text-transform: none;
  display: none;
}

.CollectionFilterSection__SortDropdown.active {
  display: block;
}

.CollectionFilterSection__SortDropdownList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.7rem;
}

.CollectionFilterSection__SortDropdown ul li {
  all: unset;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.CollectionFilterSection__SelectionIcon {
  height: 12px;
  width: auto;
}

.CollectionFilterSection__TempoFilterSection {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.CollectionFilterSection__TempoFilterSection input {
  width: 35px;
  text-align: right;
}
