.Menu {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  padding: 0 1rem;
  background-color: var(--color-background);
  transform: translate3d(-110vw, 0, 0);
  transition: transform 0.3s ease-in-out;
  overflow: scroll;
}

.Menu--visible {
  transform: translate3d(0vw, 0, 0);
}

.Menu__Header {
  height: 63px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.Menu__Title {
  font-size: 1.2rem;
}

.Menu__Closer {
  width: 75px;
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0.25rem 0.5rem;
  transition: background-color 0.3s;
}

.Menu__Closer:active {
  color: white;
  background-color: black;
}
