.Menu {
  z-index: 100;
  position: fixed;
  top: 63px;
  left: 0;
  width: 100vw;
  background-color: var(--color-background);
  transform: translateY(-100vh);
  transition: transform 400ms var(--transition-speed-curve);
  overflow: scroll;
  border-bottom: 1px solid black;
}

.Menu--visible {
  transform: translateY(0);
}
