.PlaylistContent_CollectionContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

@media only screen and (min-device-width: 1050px) {
  .PlaylistContent_CollectionContainer {
    grid-template-columns: repeat(3, minmax(350px, 1fr));
  }
}
