.SortCollectionByItem__SelectionItem {
  all: unset;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.SortCollectionByItem__SelectionIcon {
  height: 12px;
  width: auto;
}
