.TapTempo__Row:active {
  background-color: black;
  color: white;
}

.TapTempo__Row p::selection {
  background: none;
}

.TapTempo__CountIconContainer {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.3rem;
}

.TapTempo__CountIcon {
  height: 15px;
  width: auto;
  fill: black;
}
