.TrackItem {
  padding: 0.5rem 0rem 0.5rem 1rem;
  min-height: 84px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TrackItem:last-child {
  border-bottom: none;
}

.TrackItem--left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.TrackItem__Index {
  font-size: 2rem;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
}

.TrackItem ul li {
  all: unset;
  display: flex;
  font-size: 0.9rem;
  line-height: 0.9rem;
}

.TrackItem__MinusIcon {
  flex-shrink: 0;
}

.TrackItem__IconMinusCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 50px;
}

.TrackItem__DragArea {
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  width: 50px;
}
